---
layout: layouts/hlavni-sablona.njk
---
	
	<div class="wrapper">	
		<main class="main">

			{{ content | safe }}

		</main>
		<aside class="asside">
			<img src="/images/fashion.jpg" alt="moda">
		</aside>
	</div>
