<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">Uvod</a></li>
			<li class="menu__item"><a href="/tricka" class="menu__link">Trička</a></li>
			<li class="menu__item"><a href="/boty" class="menu__link">Boty</a></li>
		</ul>
</nav>